/* .open {
    width: 300px;
    z-index: 2;
    position: absolute;
    background-color: #282c34;
    border-color: #63D471;
    border-width: 3px;
    border-style: solid;
} */

.closed > img {
    width: 100%;
}

td {
    padding: 0 15px;
}

.profile-card {
    margin: 5px;
}
